Repository ChristianDiazS/miappventas: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update .gitignore: Add documentation backup files exclusion
  .gitignore
Due: none

Fix: Add package-lock.json files for GitHub Actions
  .gitignore
  backend/package-lock.json
  frontend/package-lock.json
Due: backend

Fix: Disable Slack notifications - add secret to enable
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

Fix: Add root package.json and remove npm cache from workflows
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: none

Fix: Remove npm cache from ALL workflows
  .github/workflows/build.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/monitoring.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Force: Update test workflow to clear GitHub cache
  .github/workflows/test.yml
Due: none

Remove: Delete all workflows to clear GitHub cache
  .github/workflows/build.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/monitoring.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Add: New clean CI/CD workflow without npm cache
  .github/workflows/ci.yml
Due: none

Fix: Disable npm cache in ALL setup-node steps (cache: null)
  .github/workflows/ci.yml
Due: none

Remove: Delete ci.yml workflow to reset GitHub cache
  .github/workflows/ci.yml
Due: none

Add: New test.yml workflow with cache: '' instead of cache: null
  .github/workflows/test.yml
Due: none

Fix: Remove actions/setup-node and install Node manually to avoid cache issues
  .github/workflows/test.yml
Due: none

Fix: Use global lock file with cd instead of --prefix, regenerate lock file
  .github/workflows/test.yml
  package-lock.json
Due: none

Fix: Use actions/setup-node with numeric versions and ignore-scripts flag
  .github/workflows/test.yml
Due: none

Docs: Rewrite README with professional project documentation
  README.md
Due: none

Cambios para Readme
  .github/README.md
  README.md
Due: none

Docs: Reorganize README files - Root, Frontend, and Backend documentation
  README.md
  backend/README.md
  frontend/README.md
Due: backend

feat: Replace text logo with new joyería brand Logo-Página-Web-FT.png
  frontend/public/images/logo/Logo-Página-Web-FT.png
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Improve logo visibility - increase size, add shadow effects and golden border
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Update logo to Logo-UnPoquitoVariado.png version
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Increase logo size for better visibility - h-24 sm:h-28 lg:h-32
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Further increase logo size - h-28 sm:h-32 lg:h-40
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Add transparent background container to logo with glass morphism effect
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Remove background - logo with fully transparent background
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Remove shadow effect from logo
  frontend/src/components/Layout/Header.jsx
Due: frontend

style: Increase logo size for better visibility - h-32 sm:h-40 lg:h-48
  frontend/src/components/Layout/Header.jsx
Due: frontend

fix: Add image property to product responses with fallback to placeholder
  backend/src/controllers/productController.js
Due: backend

refactor: Rebrand to Un Poquito Variado and add three new categories (Joyería, Arreglos Florales, Decoración para el Baño)
  backend/scripts/seed-categories.js
  frontend/src/components/Layout/Footer.jsx
  frontend/src/pages/CheckoutPayment.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Register.jsx
Due: frontend, backend

Path conditions:
  frontend: any of: frontend/src, but not: node_modules, dist, build, coverage, __tests__, test
  backend: any of: backend, but not: node_modules, dist, build, coverage, __tests__, test
