Repository ChristianDiazS/miappventas: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore: add documentation files to .gitignore (HANDOFF, CELEBRACION, GIT_ACTUALIZACION - local use only)
  .gitignore
Due: none

docs: update post-launch checklist with completed tasks (contact endpoint, health check, security audit)
  CAMBIOS_CRITICOS_COMPLETADOS.md
Due: none

feat: implement Winston logger and update checklist
  CAMBIOS_CRITICOS_COMPLETADOS.md
  GIT_ACTUALIZACION_COMPLETADA.md
  backend/package.json
  backend/src/app.js
  backend/src/config/logger.js
  backend/src/controllers/categoryController.js
  backend/src/middleware/webhookLogger.js
  backend/src/routes/contact.js
  backend/src/services/izipayService.js
  package-lock.json
Due: backend

feat: add robots.txt and dynamic sitemap for SEO
  CAMBIOS_CRITICOS_COMPLETADOS.md
  backend/src/app.js
  backend/src/routes/sitemap.js
  frontend/public/robots.txt
Due: backend

feat: implement GDPR-compliant cookie consent banner
  CAMBIOS_CRITICOS_COMPLETADOS.md
  frontend/src/App.jsx
  frontend/src/components/CookieConsent.jsx
Due: frontend

feat: implement integrated shipping system with cost calculation
  CAMBIOS_CRITICOS_COMPLETADOS.md
  backend/prisma/schema.prisma
  backend/src/app.js
  backend/src/routes/shipping.js
  backend/src/services/shippingService.js
Due: backend

feat: integrate shipping API in checkout address page with dynamic options and cost calculation
  CAMBIOS_CRITICOS_COMPLETADOS.md
  frontend/src/pages/CheckoutAddress.jsx
Due: frontend

feat: implement automatic database backup system with scheduler and API endpoints
  backend/.env.example
  backend/package.json
  backend/server.js
  backend/src/app.js
  backend/src/routes/backup.js
  backend/src/services/backupService.js
  backend/src/utils/backupDatabase.js
  package-lock.json
Due: backend

feat: implement Sentry error tracking for backend and frontend
  backend/.env.example
  backend/SENTRY_SETUP.md
  backend/package.json
  backend/server.js
  backend/src/app.js
  backend/src/config/sentry.js
  backend/src/middleware/errorHandler.js
  backend/src/middleware/sentryMiddleware.js
  frontend/.env.example
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/config/sentry.js
  package-lock.json
Due: frontend, backend

feat: implement Google Analytics with GDPR compliance and cookie consent respect
  CAMBIOS_CRITICOS_COMPLETADOS.md
  frontend/.env.example
  frontend/GOOGLE_ANALYTICS.md
  frontend/src/App.jsx
  frontend/src/config/analytics.js
  frontend/src/hooks/useGoogleAnalytics.js
Due: frontend

docs: add Semana 2 completion summary and achievements
  SEMANA_2_COMPLETADO.md
Due: none

docs: add Semana 3 planning checklist and roadmap
  SEMANA_3_PLANEADO.md
Due: none

docs: add executive summary for Semana 2 completion
  RESUMEN_EJECUTIVO_SEMANA_2.md
Due: none

docs: add comprehensive documentation index
  DOCUMENTACION_INDICE.md
Due: none

✨ Panel de Administración Profesional Modernizado
  ADMIN_PANEL_MODERNIZADO.md
  frontend/src/pages/Admin/AdminDashboard.jsx
  frontend/src/pages/Admin/AdminPanel.jsx
  frontend/src/pages/Admin/AdminPanel.old.jsx
  frontend/src/pages/Admin/BackupsManagement.jsx
  frontend/src/pages/Admin/OrdersManagement.jsx
  frontend/src/pages/Admin/ShippingManagement.jsx
  frontend/src/pages/Admin/UsersManagement.jsx
Due: frontend

📋 Resumen Ejecutivo: Panel Admin Modernizado Completado 100%
  ADMIN_IMPLEMENTACION_COMPLETADA.md
Due: none

🎉 README: Panel Admin Modernizado - ¡COMPLETADO 100%!
  README_ADMIN_PANEL.md
Due: none

Path conditions:
  frontend: any of: frontend/src, but not: node_modules, dist, build, coverage, __tests__, test
  backend: any of: backend, but not: node_modules, dist, build, coverage, __tests__, test
